FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/*/project/.settings
FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/*/project/Debug
FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/*/project/Release
FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/*/build

FreeRTOS/Demo/CORTEX_A72_64-bit_Raspberrypi4/rpsmg_ping

arm-gnu-toolchain-13.3.rel1-x86_64-aarch64-none-elf

*.elf
*.list